@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600');

a, body, table {
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-decoration: none;
}
th {
	font-size: 20px;
	text-align: center;
}
a:hover {
	color:grey;
}
.header {
	background: url("img/header.jpg");
	overflow:hidden;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	top:0;
	left:0;
	right:0;
	height: 200px;
	color: black;
	text-align: center;
	font-size: 40px;
}