@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600');

body {
	background-image: url("background.jpg");
}

a {
	text-decoration: none;
	color:grey;
}

body, table {
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-decoration: none;
}
table {
	padding: 15px;
}
th {
	font-size: 20px;
	text-align: center;
}

h2 {
	font-weight: lighter;
	font-size: 12px;
	text-transform: lowercase;
	text-align:center;
	color: black;
	font-family: 'Open Sans', sans-serif;
}
a:hover {
	color:#786e62;
}
.header {
	padding: 15px;
	background: #433f3a;
	overflow:hidden;
	font-family: 'Open Sans', sans-serif;
	width: 90vw;
	top:0;
	margin: 0 auto;
	height: 200px;
	color: white;
	font-size: 14px;
}
.featured {
	position: relative;
	width: 250px;
	margin: 15px;
	border: #fff 10px solid;
}